[Unit]
Description=FAST ROS Server - making your environment variables rad
Documentation=https://docs.realm.io
After=network.target

[Service]
Type=simple
ExecStart=/home/ros/FAST-ROS-Production/start.sh
WorkingDirectory=/home/ros/FAST-ROS-Production
Restart=on-failure
User=ros

[Install]
WantedBy=multi-user.target
